<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111298173583-tu42src0tr2ofvg6avuvje5fs71jjg2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111298173583-tu42src0tr2ofvg6avuvje5fs71jjg2d</string>
	<key>API_KEY</key>
	<string>AIzaSyAb2KpK3eySizwvsv5-UAM725YuNDaX9Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>111298173583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prepaidiq.d2c</string>
	<key>PROJECT_ID</key>
	<string>helloprepaycom</string>
	<key>STORAGE_BUCKET</key>
	<string>helloprepaycom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111298173583:ios:0f643d06dbfaaaa9952efa</string>
</dict>
</plist>