<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148315333768-ss6foh38bi7psi8ln45pu2mt2mosrfun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148315333768-ss6foh38bi7psi8ln45pu2mt2mosrfun</string>
	<key>API_KEY</key>
	<string>AIzaSyABYlZp24PrHSwxYV0hTL6QfhnlFbWYSmA</string>
	<key>GCM_SENDER_ID</key>
	<string>148315333768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.prepaidiq</string>
	<key>PROJECT_ID</key>
	<string>prepaidiq1</string>
	<key>STORAGE_BUCKET</key>
	<string>prepaidiq1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148315333768:ios:858cb9c66502fdc6baab3d</string>
</dict>
</plist>