<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019549713217-n0v2crl99a29970iah9ldftv2rss521r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019549713217-n0v2crl99a29970iah9ldftv2rss521r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019549713217-arc7g2e50jubk1gqt265gokbclb32uab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATm5zSromjCsNh97StRnwRPZBscfqkrhw</string>
	<key>GCM_SENDER_ID</key>
	<string>1019549713217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prepaidiq.d2c</string>
	<key>PROJECT_ID</key>
	<string>prepaidiq-2923a</string>
	<key>STORAGE_BUCKET</key>
	<string>prepaidiq-2923a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019549713217:ios:11f83d1bbc7bfba8e117c0</string>
</dict>
</plist>